<!DOCTYPE html>
<html>
<head>
  <title>Banho de brutos em Limeira. Folheado a Ouro e Prata |Ipanema Folheados</title>
  <meta name="description" content="Banhamos suas peças nos milésimos e cor da sua preferência com opção de Verniz protetor Italiano. Processo Niquel-free garantido. Faça sua Cotação Online!">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main" class="container">
    <noscript>
      <%= yield %>
    </noscript>
  </div>
</body>
</html>
